@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: black;
}

* {
  transition: 0.15s;
  transition-property:
    transform, color, border-color, padding, margin, fill, scale;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Haskoy", Arial, Helvetica, sans-serif;
  letter-spacing: 0.025em;
  font-size: 20px;
}
