@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme (default) */
:root {
  --background: #f9fafc;
  --foreground: #1e293b;
  --accent: #068e3f;
  --faded-accent: #068e3f98;
}

/* Dark theme (toggle via .dark class) */
.dark {
  --background: #0f172a;
  --foreground: #f9fafb;
  --accent: #3b82f6;
  --faded-accent: #2f96c2cc;
}

/* Accent gradients */

.bg-gradient-accent {
  @apply bg-gradient-to-r from-accent to-fadedAccent;
}

.text-gradient-accent {
  @apply bg-gradient-to-r from-accent from-0% via-fadedAccent via-50% to-accent to-60% bg-clip-text text-transparent;
}

* {
  transition: 0.15s;
  transition-property: transform, color, border-color, padding, margin, fill;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.025em;
  font-size: 20px;
}
